.loading-blocks {
  display: flex;
  position: absolute;
  top: 50%;
  justify-content: space-around;
  width: 6rem;
}

.loading-blocks div {
  width: 1rem;
  border-radius: 50%;
  position: relative;
}

@keyframes load-block {
  0% {
    opacity: 1;
    top: 0;
    height: 1rem;
  }
  50% {
    opacity: 0.5;
    top: 0.5rem;
    height: 1rem;
  }
  100% {
    opacity: 0;
    top: 0;
    height: 1rem;
  }
}

.loading-blocks div:nth-child(1) {
  background: var(--text-color);
  animation: load-block 1.4s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -6.1s;
}
.loading-blocks div:nth-child(2) {
  background: var(--text-color);
  animation: load-block 1.4s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -4.6s;
}
.loading-blocks div:nth-child(3) {
  background: var(--text-color);
  animation: load-block 1.4s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -3s;
}
