* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  transition: background-image 500ms linear;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.grid_layout {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 2rem 1fr 2rem;
  grid-template-columns: 1fr;
  height: 100vh;
  margin: 0;
}

.main {
  grid-area: main;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.status_error {
  display: flex;
  position: absolute;
  top: 50%;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #f03;
  color: #eee;
  z-index: 9999;
  animation: 1000ms infinite alternate error;
}

@keyframes error {
  from {
    transform: scale(1);
    background: #f03;
  }
  to {
    transform: scale(1.2);
    background: #e02;
  }
}

.footer {
  grid-area: footer;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: var(--bg-theme);
  color: var(--text-color);
  transition: all 500ms linear;
}
